<!doctype html>
<html>
    <head>
        <title>404 Page Not Found</title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Lato|Zilla+Slab');

            body {
                height: 100vh;
                background: #B71C1C;
                color: #212121;
                font-size: 2em;
                text-align: center;
            }

            h1 {
                font-family: 'Zilla Slab', sans-serif;
            }

            a {
                color: #ccc;
                font-family: 'Lato', sans-serif;
            }
        </style>
    </head>

    <body>
        <h1>404 Page Not Found</h1>

        <a href="../">Go back to home.</a>
    </body>
</html>